/* GLOBAL */

html,
body {
    font-family: 'Work Sans', sans-serif;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}


.heading h2 {
    font-size: 2.5rem;
    letter-spacing: .5px;
    color: #ff4f81;
    font-weight: bold;
}

.heading p {
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 1.0625rem;
}

.heading p::after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: black;

    display: block;
    margin: 20px auto;
}

.heading--white p {
    color: white;
}

.section {
    padding: 5rem 0;
}

/* HEADER */

.header__top {
    background-color: #ff4f81;
    font-size: .875rem;
}

.header__top a {
    text-decoration: none;
    color: white;

    transition: all .5s;
}

.header__top .header__left a:hover {
    color: black !important;
}

.header__top .header__right a:hover {
    background-color: #ff4f81;
    border-color: white;
}

.header__right a {
    width: 1.875rem;
    height: 1.875rem;
    background-color: black;
    border: 1px solid black;
    text-align: center;

    display: inline-block;
    line-height: 1.875rem;

    margin-left: 0.25rem;
}

.navInstruction {
    color: black;
}

.navInstruction .navbar-brand p:first-of-type {
    font-size: 2.25rem;
}

.navInstruction .navbar-brand p:last-of-type {
    font-size: 0.6875rem;
    color: #ff4f81;
    letter-spacing: 0.1875rem;
    font-weight: bold;
}

.navInstruction .navbar-brand p:first-of-type {
    transform: skewX(-10deg);
}

#navbarInstruction .nav-item .nav-link {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;

    transition: all .5s;
}

#navbarInstruction .nav-item {
    margin: 0 15px;
}

#navbarInstruction .nav-item::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #ff4f81;

    display: block;
    transition: all .5s;
}

#navbarInstruction .nav-item:hover::after {
    width: 100%;
}

#navbarInstruction .nav-item:hover .nav-link {
    color: #ff4f81;
}

#navbarInstruction .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #ff4f81;
}

#navbarInstruction .navbar-nav .nav-item.active::after {
    width: 100%;
}

#navbarInstruction .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);

}

#navbarInstruction .dropdown-item {
    color: white;
    transition: all .5s;
}

#navbarInstruction .dropdown-item:focus,
#navbarInstruction .dropdown-item:hover {
    background-color: transparent;
    color: #ff4f81;
}

.navInstruction .navbar-toggler {
    color: #ff4f81;
    background-color: black;
    border-radius: 0px;
}

.navInstruction .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* CAROUSEL */

#carouselCyber .carousel-caption h1 {
    font-size: 52px;

}

#carouselCyber .carousel-caption p {
    letter-spacing: 4px;
    line-height: 1.8em;

    width: 70%;
    margin: 0 auto;

    margin-bottom: 25px;
    font-weight: 300;
}

#carouselCyber .carousel-caption button {
    padding: 11px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    letter-spacing: 2px;

    font-size: 14px;

    transition: all .5s;
}

#carouselCyber .carousel-caption button:hover {
    background-color: #ff4f81;
    border-color: #ff4f81;
}

#carouselCyber .carousel-caption {
    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#carouselCyber .carousel-control-prev-icon,
#carouselCyber .carousel-control-next-icon {
    z-index: 11;
}

/* WELCOME */



.welcome .welcome__content>p {
    width: 80%;
    margin: 0 auto;

    text-align: center;
    font-size: 15px;
    /* em đi theo font size gần nhất =>> 15px */
    line-height: 1.8em;
    color: #999;
    letter-spacing: 1px;
    padding: 1rem 0 5rem;
}

.welcome .welcome__content .welcome__col {
    padding: 2rem;
}

.welcome__item i {
    font-size: 2rem;

}

.welcome__item h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
    font-weight: bold;
    color: #ff4f81;
}

.welcome__item h4 {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin: 1rem 0 .2rem;
}

.welcome__item p {
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
    letter-spacing: 1px;
}

/* OUR STATS */

.outStats {
    background-image: url(../img/banner2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.outStats__content {
    text-align: center;
    color: white;
}

.outStats__item i {
    font-size: 2.5rem;
}

.outStats__item h3 {
    font-size: 1.3rem;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 30px 0 20px;
}

.outStats__item p {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 2px;
}

/* OFFER */

.offer__item {
    text-align: center;
    background-color: white;
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    transition: all .5s;
}

.offer__col {
    padding: 15px;
}

.offer__item i {
    color: #ff4f81;
    font-size: 40px;
}

.offer__item h3 {
    font-size: 20px;
    margin: 25px 0 20px;
    color: black;
}

.offer__item p {
    font-size: 14px;
    initial-letter: .5px;
    color: #6b6b6b;
}

.offer__item:hover {
    background-color: #12ccc3;
}

/* FEEDBACK */

.feedback {
    background: url(../img/banner3.jpg) center;
    background-attachment: fixed;
    background-size: cover;
}

.feedback__content {
    box-shadow: 0px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem;
}

.feedback__content .item {
    color: white;
    padding: 0px 1rem;
}

.feedback__top {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47);

    position: relative;
}

.feedback__top::after {
    content: '';
    border-top: 9px solid rgba(24, 10, 10, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;

    position: absolute;
    top: 100%;
    left: 28%;
}

.feedback__content .feedback__bottom img {
    width: 28%;
    display: inline-block;
}

.feedback__content .feedback__bottom {
    display: flex;
    width: 55%;
    margin: 2rem auto 0;
}

.feedback__name p {
    margin: 0;
    color: #ff4f81;
}

.feedback__name {
    margin-left: 5px;
}

.feedback__name p:first-of-type {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
    background-color: #ff4f81;
    opacity: 0.5;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.feedback__content .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}

/* NEWS */

.news__content img {
    border: 2px solid #dedede;
}

.news__content h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.news__content a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all .5s;
}

.news__content a:hover {
    color: #ff4f81;
}

.news__content h4 {
    font-size: 1rem;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.news__content p {
    color: #999999;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
}

.news__content .row:last-child {
    margin-top: 5rem;
}

/* MODAL */

#cyberModal h1 {
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}

#cyberModal p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}

#cyberModal .modal-dialog {
    max-width: 600px;
}

/* FOOTER */
footer {
    background-color: #141415;
}

.footer__top h3 {
    font-size: 24px;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.footer__top p {
    color: #8b8b96;
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.footer__link i {
    color: #ff4f81;
    margin-right: 1rem;
}

.footer__link a,
.footer__contact a {
    color: #8b8b96;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all .5s;
}

.footer__link a:hover,
.footer__contact a:hover {
    color: white;
}

.footer__link,
.footer__contact {
    margin-bottom: 1rem;
}

.footer__contact i {
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
}

.footer__form {
    margin-top: 3rem;
}

.footer__form label {
    color: #ff4f81;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer__form input {
    padding: 14px;
    border-radius: 0;
    border: none;
    letter-spacing: 1px;
    color: #888;
    height: auto;
}

.footer__form button {
    padding: 12px 35px;
    background-color: #ff4f81;
    letter-spacing: 1px;
    border-radius: 0;
    border: none;
    color: white;
    outline: none;
    transition: all .5s;
}

.footer__form button:hover {
    background-color: #ec1955;
    color: white;
}

.footer__bottom {
    background-color: #0f0f10;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 1px;
    color: white;
}

.footer__bottom a {
    text-decoration: none;
    color: #ff4f81;
}

.footer__bottom a:hover {
    color: white;
}

/* *************************RESPONSIVE************************ */

@media screen and (max-width: 1199.98px) {
    #carouselCyber .carousel-caption {
        top: 50%;
    }

    #carouselCyber .carousel-caption h1 {
        font-size: 4vw;
    }

    #carouselCyber .carousel-caption p {
        font-size: 1.6vw;
        margin-bottom: .5em;
    }

    #carouselCyber .carousel-caption button {
        font-size: 1.5vw;
        padding: .8em 1em;
    }

}

@media screen and (max-width: 991.98px) {
    .navInstruction .navbar-brand p:first-of-type {
        font-size: 3vw;
    }

    .navInstruction .navbar-brand p:last-of-type {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 767.98px) {
    #navbarInstruction .navbar-nav {
        background-color: #eee;
        text-align: center;
    }

    #navbarInstruction .dropdown-menu {
        background-color: #e0e1e2;
        text-align: center;
        border-color: #e0e1e2;
    }

    #navbarInstruction .dropdown-menu .dropdown-item {
        color: black;
    }

}

@media screen and (max-width: 575.98px) {
    .header__left a {
        display: block;
    }
}

@media screen and (max-width: 530px) {
    #carouselCyber{
        height: 250px;
    }
    #carouselCyber .carousel-inner, #carouselCyber .carousel-item, #carouselCyber .carousel-item img{
        height: 100%;
    }
    #carouselCyber .carousel-item img{
        object-fit: cover;
    }
}

@media screen and (max-width: 320px) {
    .header__right {
        width: 35%;
        text-align: center;
    }

    .header__right a {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #navbarInstruction .nav-item {
        margin: 0;
        padding: 0 2px;
    }

    #navbarInstruction .nav-item .nav-link {
        font-size: 12px;
        padding: 5px;
    }
}